<mat-drawer-container class="container">
  <mat-drawer class="menu-lateral" mode="side" opened>
    <app-selector
      (arquiteturaChange)="onArquiteturaChange($event)"
    ></app-selector>
  </mat-drawer>
  <mat-drawer-content class="principal" *ngIf="arquitetura && tipo">
    <ng-container *ngIf="arquitetura === 'Escalar'; else superescalar">
      <app-escalar [tipo]="tipo"></app-escalar>
    </ng-container>
    <ng-template #superescalar>
      <app-superescalar
        *ngIf="arquitetura === 'Superescalar'"
        [tipo]="tipo"
      ></app-superescalar>
    </ng-template>

  </mat-drawer-content>
</mat-drawer-container>
