.pulse-button {
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

label {
    color: #333;
}

.btn-primary {
  background-color: darkorange;
  border-color: darkorange;
  color: white; 
}

.btn-primary:hover {
    background-color:  #FF5722;
    border-color:  #FF5722;
}

.btn-primary:focus {
        background-color:  #FF5722;
        border-color:  #FF5722;
}

.accordion-button{
    color: white !important;
    background-color: darkorange !important;
    border-color: darkorange !important;
}

.alert-info{
    background-color: #d1ecf1 !important;
    color: #0c5460 !important;
    border-color: #bee5eb !important;
}

.card-header{
    color: darkorange !important; 
}

input::-webkit-input-placeholder {
    color: #333;
}

.form-control {
    color: #333;
}

.btn-success{
    background-color: #FF7043;
    border-color: #FF7043;
    color: white; 
}

.btn-success:hover {
    background-color: #FF5722;
    border-color: #FF5722;
}

.btn-success:focus {
    background-color: #FF5722;
    border-color: #FF5722;
}

.btn-secondary{
    background-color: #6c757d;
    border-color: #6c757d;
    color: white; 
}

.btn-outline-primary {
    color: darkorange;
    border-color: darkorange;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-primary:hover {
    color: white;
    background-color: darkorange;
    border-color: darkorange;
}

.floatbuttont {
    position: fixed;
    bottom: 85px;
    right: 20px;
    float: right;
    z-index: 30000000;
    padding: 10px 11px;
}

h3{
    color: darkorange !important;
}