.pulse-button {
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

label {
    color: #333;
}

.btn-primary {
    background-color: white;
    border-color: black;
    color: black;
}

.btn-primary:hover {
    background-color:  black;
    border-color:  white;
    color: white;
}

.btn-primary:focus {
    background-color: black;
    border-color:  white;
}

.accordion-button{
    color: white !important;
    background-color: gray !important ;
    border-color: darkorange !important;
}

.alert-info{
    background-color: darkgray !important;
    color: white !important;
    border-color: darkgray !important;
}

.card-header{
    color: black !important; 
}

input::-webkit-input-placeholder {
    color: #333;
}

.form-control {
    color: #333;
}

.btn-success{
    background-color: black;
    border-color: black;
    color: white !important; 
}

.btn-success:hover {
    background-color: white;
    border-color: black;
    color: black !important;
}

.btn-success:focus {
    background-color: white;
    border-color: black;
    color: black !important;
}

.btn-secondary{
    background-color: #6c757d;
    border-color: #6c757d;
    color: white; 
}

.btn-secondary:hover {
    background-color: lightgrey;
    border-color: darkgray;
    color: black !important; 
}

.btn-outline-primary {
    color: white;
    background-color: purple;
    border-color: purple;
}

.btn-outline-primary:hover {
    color: black;
    background-color: snow;
    border-color: black;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}


.floatbuttont {
    position: fixed;
    bottom: 85px;
    right: 20px;
    float: right;
    z-index: 30000000;
    padding: 10px 11px;
}

h3{
    color: black !important;
}